.photo{
    margin-bottom: 10%;
    padding:0% 3%;
    width: 20%;
    height: 10%;
    top: -150px;
}
.general{
    border: solid;
    border-bottom: solid;
    width: 100%;
    height: 1200px;
}
.body{
  height: 3000px;
  border-bottom: blue;
background-image: url(/images/nice-warehouse-delivery.webp);
background-repeat: no-repeat;
background-size:contain;
}
.bars{
   float: right;
}
.bars ul li{
    display: inline-block;
    color: black;
    list-style: none;
    position: relative;
    top: -200px;
    font-size: x-small;
    
}
.bt{
    background-color: blue;
}
.h3{
    text-align: center;
    position: relative;
    top: -100px;

    
}
.assign{
    color: blue;
}
.h{
    color: green;

}

.logos{
position: relative;
top: -2800px;

}
.JJK{
    border: white;
    margin-top: 2%;
}

.fits{
width: 10%;
    margin-bottom: 10%;
    padding: 0% 3%;
    

}
.dove{
margin-bottom: 10%;
padding: 0% 3%;
width: 7%;
height: 3%;
    
}
.rigwa{
    margin-bottom: 10%;
    padding: 0% 2%;
    width: 10%;
    height: 5%;
}

.boxes{
    text-align: center;
    position: relative;
    top: -3000px;
    display: flex;
    text-decoration: grey;
    left: 65%;
    

    
    

}
.good{
    border: seagreen;
    background-color:rgb(172, 224, 245);
    width: 10%;
    height: 13%;
    
}
.better{
    border: seagreen;
    background-color:rgb(183, 220, 235);
    width: 10%;
    height: 13%;

}

.best{
    border: rgb(245, 235, 234);
    background-color: rgb(240, 232, 232);
    width: 10%;
    height: 13%;
    
}
.lines{
   position: relative; 
   top: -2900px;
   display: flex;
   text-align: center;
   text-decoration: grey;
   left: 50%;


   
   
    
}
.l1{
    color: blue;
    width:40%;
    border: solid;color: blue;
    
}
.ll1{
border: white;
width: 15%;
height: 13%;
background-color: white;

}
.ll2{
    border: white;
    background-color: white;
    width: 15%;
    height: 13%;
}
.ll3{
    border: white;
    background-color: white;
    height: 13%;
    width: 25%;
}
.l2{
    color: orangered;
    width: 40%;
    border: solid;color: orangered;
    
}
.l3{
    color:green ;
    width: 30%;
    border: solid;color: green

}
.brands{
    top: -3000px;
    text-decoration: navy;

}
.final{
    font-size: large;
    background-color: skyblue;
}
.colour{
    text-decoration: rgb(8, 8, 58);
    color: navy;
}
.all{
    position: relative;
    top: -2970px;
}

    
    









